<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ui文件管理@newbie0086</title>
    <link rel="stylesheet" href="../public/libs/dhtmlx/codebase/dhtmlx.css">
    <link rel="stylesheet" href="../public/libs/dhtmlx/skins/mytheme/dhtmlx.css">
    <link rel="stylesheet" href="../public/libs/toastr/toastr.css" />
    <link rel="stylesheet" href="../public/libs/layer/src/skin/layer.css" />
    <link rel="stylesheet" href="../public/libs/layer/src/skin/layer.ext.css" />
    <link rel="stylesheet" href="../public/libs/laydate/need/laydate.css" />
    <link rel="stylesheet" href="../public/libs/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../public/libs/dhtmlx/codebase/dhtmlx.css" />
    <link rel="stylesheet" href="../public/libs/dhtmlx/skins/mytheme/dhtmlx.css" />
    <link rel="stylesheet" href="../public/libs/bmenu/bmenu.css" />


    <script>
    window.$ = window.jQuery = require("../public/libs/jquery/dist/jquery.js");
    </script>
    <script type="text/javascript" src="../public/libs/dhtmlx/codebase/dhtmlx.js"></script>
    <script type="text/javascript" src="../public/libs/layer/src/layer.js"></script>
    <script type="text/javascript" src="../public/libs/laydate/laydate.js"></script>
    <script type="text/javascript" src="../public/libs/layer/extend/layer.ext.js"></script>
    <script type="text/javascript" src="../public/libs/toastr/toastr.js"></script>
    <script type="text/javascript" src="../public/libs/bmenu/bmenu.js"></script>

    <style>
        html,body{
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 100px;
            margin:0px;
            height:95%;
        }

        div#container {   position: relative;

                            width: auto;

                        }

        </style>

</head>
<body>

<div id="container"></div>

</body>

<script src="../bundle.js"></script>


</html>